/*--------------------------------------------------------------
# Button Control
--------------------------------------------------------------*/
.main-btn {
  display: inline-block;
  vertical-align: middle; 
  font: inherit;
  text-align: center;
  margin: 0; 
  cursor: pointer; 
  padding: $mobile-side-pad;
  border-radius: $global-border-radius;
  @include vendor(transition, $global-transition);
  
  	
  	@include hocus() {
  	  text-decoration: none;
  	}
  	
  	
}





.mobile-button{
	/*@include flex-center;*/
	width: 40px;
	height: 40px;
	background: red;
}



/* Main Navigation Button
   ======================================== */


$nav-button-size: 77px !default;

.nav-button {
	position: relative;
	z-index: 100;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	@include vendor(transition, $global-transition);
	height: $nav-button-size;
	width: $nav-button-size;
	@include font-size(30px);
	color: white;
	//IE 11 Center fix
	@include flex-direction(column);
	
	
}

.nav-button {
	
	.fa-bars {
		display: block;
	}
	
	.fa-times {
		display: none;
	}
	
	
}

.nav-button.button-active{
	
	
	.fa-bars {
		display: none;
	}
	
	.fa-times {
		display: block;
	}
	
	
	
}