/*---------------------------------------------
    Classes accessed by the jScript - Brennan
---------------------------------------------*/

 .retract.menu-active {

   @include mq(mobile) {
     width: 80vw;
   }

   @include mq(tablet) {
     width: 50vw;
   }

   @include mq(desktop) {
     width: 300px;
   }

 }

.retract {
    width: 0px;
}

.qCorrect {
    right: 20px;
}

.dBlock {
    display: block;
}

.dNone {
    display: none;
}
