/*---------------------------------------------
    Classes accessed by the jScript - Brennan
---------------------------------------------*/

 .retract.menu-active {
   //overflow: visible;
   @include mq(mobile) {
     width: 100vw;
   }

   @include mq(tablet) {
     width: 50vw;
   }

   @include mq(desktop) {
     width: 400px;
     padding-left: 20px;
   }

 }

.retract {
    //overflow: hidden;
    width: 0px;
}

.qCorrect {
    right: 20px;
}

.dBlock {
    display: block;
}

.dNone {
    display: none;
}
