/*---------------------------------------------
    Classes accessed by the jScript - Brennan
---------------------------------------------*/

 .retract.menu-active {
    width: 300px;
}

.retract {
    width: 0px;
}

.qCorrect {
    right: 20px;
}

.dBlock {
    display: block;
}

.dNone {
    display: none;
}
