.single-container-extended {
  width: 100%;
  padding: 0 25px;
  display: inline-flex;
  flex-direction: row;

  @include mq(tablet) {
    padding: 0 15%;
    flex-wrap: nowrap;
  }
  flex-wrap: wrap;

  .first-aside {
    flex-grow: 2;
    margin-top: 100px;
    float: left;

    .spacer {
      display: none;
    }

    .entry-content {
      max-width: 100%;
    }

    article {

      p, h1, h2, h3, h4, h5 {
        padding-right: 20px;
        max-width: 600px;
      }

      h1 {
        line-height: 1em;
        font-size: 25px;
        font-weight: 600;
        @include mq(tablet) {
         line-height: 1.2em;
         font-size: 45px;
         font-weight: normal;
        }
      }
    }

    figure {
      margin: 2.5em 0;

      img {
        @include mq(tablet) {
          margin-left: -30px;
        }
      }
    }

  }

  .second-aside {
    flex-grow: 1;
    padding-top: 25px;
    border-top: 1px solid $uni-grey;
    @include mq(tablet) {
      border-top: 0px solid $uni-grey;
      border-left: 1px solid $uni-grey;
      margin-top: 100px;
      padding-left: 55px;
    }
    max-width: 350px;
    float: right;

    section {
      max-width: 250px;
    }

    .widget ul li{
      margin-bottom: 10px !important;
      a:not(.rsswidget) {
        border-bottom: 1px solid #9e9e9e !important;
        padding-bottom: 5px !important;
      }
    }
  }
}
