/*--------------------------------------------------------------
# Site Header - Brennan Styling
--------------------------------------------------------------*/
header{

	background-color: $headerbg-grey;
	color: #fff;
	display: flex;
    padding: 20px;

	.left {

        display: flex;


        img {

            width: 250px;

        }

	}

    .central {

        background-color: #212121;
        display: flex;
				height: 94px;
				position: absolute;
				top: 31px;
				left: 290px;

        h1 {
						height: 100%;
            align-self: left;
            padding-left: 20px;
            letter-spacing: 0.06em;
            @include font-size(22px);
            line-height: 27px;
            margin: 0;
				    padding: 20px;
        }

    }

	.right {

        display: flex;
		flex-grow: 1;
        justify-content: flex-end;
		float: right;

        img {

            height: 20px;
            align-self: center;
            position: absolute;
            top: 20px;
            right: 20px;
            margin-left: 20px;

    }
}

// Search Bar

.searchform {
width: 100%;
@include flexbox;

	.search-container {
		align-self: center;
		margin: 0 auto;
	}

}

.search-container {

	input {
		border: none;
		background: $searchbg-grey;
		align-self: center;
		padding: 10px;
		z-index: 2;
	}

	button {
		background: $searchbg-grey;
		width: 38px;
		height: 38px;
		margin-left: -5px;
	}

	// Placeholder text colour

	::-webkit-input-placeholder {
			color:    #fff;
	}
	:-moz-placeholder {
		 color:    #fff;
		 opacity:  1;
	}
	::-moz-placeholder {
		 color:    #fff;
		 opacity:  1;
	}
	:-ms-input-placeholder {
		 color:    #fff;
	}
	::-ms-input-placeholder {
		 color:    #fff;
	}

	::placeholder {
		 color:    #fff;
	}

}

// MQ

.searchform {

	@include mq($until:desktop){
		display: none;
	}

}




	@include mq($until: tablet) {

        .left {
            flex-direction: column;
        }

        .right input {
            display: none;
        }

        .central {
            width: 100%;
            left: 0;
            top: 60;
        }

	}



    @include mq(mobile, tablet) {



    }

}
