/*--------------------------------------------------------------
# Site Header - Brennan Styling
--------------------------------------------------------------*/

header{

	background-color: $headerbg-grey;
	color: #fff;
	display: flex;
	height: 95px;

	.left {

        display: flex;


        img {
/*<<<<<<< HEAD

            width: 250px;
						margin-left: 30px;

=======
            width: 225px;
>>>>>>> 1eda687c5ea07d0631b299e053be0e628e49145c*/
        }

	}

    .central {

/*<<<<<<< HEAD
				position: relative;
        background-color: $nav-underline;
				height: 95px;
=======
        background-color: #212121;
        display: flex;
				height: 94px;
				position: absolute;
				top: 0px;
				left: 250px;
>>>>>>> 1eda687c5ea07d0631b299e053be0e628e49145c*/
				z-index: 0;
				display: flex;
				padding: 0 20px;
				margin-left: 20px;

        h1 {

					align-self: center;
					font-size: 25px;
					margin: 0 auto;


        }

    }

	.right {

        display: flex;
		flex-grow: 1;
        justify-content: flex-end;
		float: right;

        img {

            height: 20px;
            align-self: center;
            position: absolute;
            top: 20px;
            right: 20px;
            margin-left: 20px;

    }
}

// Search Bar

.searchform {
width: 100%;
@include flexbox;

	.search-container {
		align-self: center;
		margin: 0 auto;
	}

}

.search-container {

	input {
		border: none;
		background: $searchbg-grey;
		align-self: center;
		padding: 10px;
		z-index: 2;
	}

	button {
		background: $searchbg-grey;
		width: 38px;
		height: 38px;
		margin-left: -5px;
	}

	// Placeholder text colour

	::-webkit-input-placeholder {
			color:    #fff;
	}
	:-moz-placeholder {
		 color:    #fff;
		 opacity:  1;
	}
	::-moz-placeholder {
		 color:    #fff;
		 opacity:  1;
	}
	:-ms-input-placeholder {
		 color:    #fff;
	}
	::-ms-input-placeholder {
		 color:    #fff;
	}

	::placeholder {
		 color:    #fff;
	}

}

// MQ

.searchform {

	@include mq($until:desktop){
		display: none;
	}

}




	@include mq($until: tablet) {

        .left {
            flex-direction: column;
        }

        .right input {
            display: none;
        }

        .central {
            width: 100%;
            left: 0;
            top: 60;
						display: none;
        }

	}



    @include mq(mobile, tablet) {



    }

}
