/*--------------------------------------------------------------
# Site Footer - Tom Styling
--------------------------------------------------------------*/
/* Footer */

.footer-top {
  /*min-height: 350px;*/
  width: 100%;
  background: $footerbg-grey;
  color: #fff;
}

.footer-bottom {
/*  height: 100px;*/
  width: 100%;
  background-color: $headerbg-grey;
    padding: 0 30px;
}


.footer-bottom > .site-module {
	@include flexbox;
	@include align-items(center);
	
	@include mq($until:tablet) {
		@include flex-direction(column);
	}
	
}

.footer-bottom img {
  align-self: center;
  float: left;
}

.footer-bottom p {
  color: $blockquote-before;
  font-size: 14px;
  margin: 0;
  float: right;
  /*padding-top: 35px;*/
  letter-spacing: 1px;
}

.widget-title {
  font-size: 23px;
}

.widget-container li {
  padding: 5px 0;
}

.widget-container a {
  line-height: 20px;
}

.widget-container a:hover {
  border-bottom: 1px solid #fff;
}

.footer-credits {
	margin-left: auto;
}


.university-links {
	margin-bottom: 7px;
	list-style: none;
	margin-top: 10px;
	text-align: left;
	
	@include mq(tablet) {
		text-align: right;
	}
	
	@include mq($until:tablet) {
		@include flexbox;
		@include flex-direction(column);
	}
}

.university-links li {
	display: inline-block;
	color: $blockquote-before;
}

.university-links li a{
	color: $blockquote-before;
	text-decoration: none;
	
	@include hocus() {
		  text-decoration: underline;
	}
	
}

.university-links li:not(:last-child):after {
	@include mq(tablet) {
	
		content: "|";
		margin: 0 5px;
	
	}
}


/*--------------------------------------------------------------
# Site Footer - Brennan Styling
--------------------------------------------------------------*/



 .footer-top a {
    color: #fff;
  }


@include mq(mobile) {

}




@include mq($until: tablet) {
  .footer-top {
    flex-direction: column;
    height: 100%;

    .col:nth-of-type(1) {
      margin-top: 30px;
    }

    .col {
      height: 150px;
      width: 275px;
      margin: 5px 0;

      .widget {
        width: 100%;
      }

      .widget-title {
        font-size: 18px;
      }

      .textwidget {
        line-height: 1.5;
        font-size: 14px;
      }

    }

  }

  .footer-bottom {
    flex-direction: column;
    padding: 20px 20px;
    min-height:110px;
  }

  .footer-bottom p {
    padding-top: 10px;
    font-size: 13px;
  }

}
