/*--------------------------------------------------------------
# Site Header - Brennan Styling
--------------------------------------------------------------*/
header{

	background-color: $headerbg-grey;
	color: #fff;
	display: flex;
    padding: 20px;

	.left {

        display: flex;


        img {

            width: 250px;

        }

	}

    .central {

        background-color: #212121;
        display: flex;


        h1 {

            align-self: left;
            padding-left: 20px;
            letter-spacing: 0.06em;
            @include font-size(22px);	
            line-height: 27px;
        }
        
    }

	.right {

        display: flex;
		flex-grow: 1;
        justify-content: flex-end;
		float: right;

        img {

            height: 20px;
            align-self: center;
            position: absolute;
            top: 20px;
            right: 20px;
            margin-left: 20px;

        }

        input {

	        background-color: $searchbg-grey;
            @include borderfix(all, 0px);
            padding: 5px;
            width: 50%;
            align-self: center;
            color: #fff;
            margin-right: 25px;

        }
	}

	@include mq(mobile) {

	}




	@include mq($until: tablet) {

        .left {
            flex-direction: column;
        }

        .right input {
            display: none;
        }

        .central {
            width: 100%;
            left: 0;
            top: 60;
        }

	}



    @include mq(mobile, tablet) {



    }

}
