/*--------------------------------------------------------------
# Site Footer - Tom Styling
--------------------------------------------------------------*/
/* Footer */

.footer-top {
  height: 350px;
  width: 100%;
  background: $footerbg-grey;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.footer-bottom {
  height: 100px;
  width: 100%;
  background-color: $headerbg-grey;
  @include flexbox;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.footer-bottom img {
  align-self: center;
  float: left;
}

.footer-bottom p {
  color: $blockquote-before;
  font-size: 14px;
  margin: 0;
  float: right;
  padding-top: 35px;
  letter-spacing: 1px;
}

/*--------------------------------------------------------------
# Site Footer - Brennan Styling
--------------------------------------------------------------*/


.col {
  order: 0;
  flex: 1 2 auto;
  align-self: auto;
  margin: 0 70px;
  color: #fff;
  .textwidget {
    line-height: 2;
  }
}

@include mq(mobile) {

}




@include mq($until: tablet) {
  .footer-top {
    flex-direction: column;
    height: 100%;

    .col:nth-of-type(1) {
      margin-top: 30px;
    }

    .col {
      height: 150px;
      width: 275px;
      margin: 5px 0;

      .widget {
        width: 100%;
      }

      .widget-title {
        font-size: 18px;
      }

      .textwidget {
        line-height: 1.5;
        font-size: 14px;
      }

    }

  }

  .footer-bottom {
    flex-direction: column;
    padding: 20px 20px;
    height: 110px;
  }

  .footer-bottom p {
    padding-top: 10px;
    font-size: 13px;
  }

}



  @include mq(mobile, tablet) {



  }
