$base-black: 			#404040!default;
$svg-logo-colour : 		#b51800!default;

$uni-blue: 				rgba(0, 50, 95, 1)!default;
$uni-grey: 				rgba(116, 118, 120, 1)!default;


/*-----------------------------------------------------
# New Site Colors Brennan
-----------------------------------------------------*/
$headerbg-grey: #282828!default;
$searchbg-grey: #2d2d2d!default;
$text-grey: #292e30!default;
$navtext: #ffffff!default;
$footerbg-grey: #444444!default;
$bottomtext-blue: #047e8b!default;


/*-----------------------------------------------------
# Added By Tom
-----------------------------------------------------*/

$uni-blue-heading: rgba(0, 50, 95, 0.4)!default;
$main-text-grey: #4C555A!default;
$secondry-color: #047E8B!default;
$caption-color: #292E30!default;
$blockquote-before: #CECED1!default;
$related-container-color: #F9F9F9!default;
$category-excerpt-grey: #A0A1A5!default;
$comments-hr: #D8D8D8!default;
$comments-background: #F5F5F5!default;
$comments-input-background: #F9F9F9;
$nav-underline: #212121!default;
$nav-sublink: #878785!default;
