$base-black: 			#404040!default;
$svg-logo-colour : 		#b51800!default;

$uni-blue: 				rgba(0, 50, 95, 1)!default;
$uni-grey: 				rgba(116, 118, 120, 1)!default;


/*-----------------------------------------------------
# New Site Colors Brennan
-----------------------------------------------------*/
$headerbg-grey: #282828!default;
$searchbg-grey: #2d2d2d!default;
$text-grey: #292e30!default;
$navtext-grey: #5C5C5C!default;
$footerbg-grey: #444444!default;
$bottomtext-blue: #047e8b!default;
