/* Containers */

.pagination {
  text-align: center;
  display: flex;
  margin-bottom: 50px;
}

.nav-links {
  margin: 0 auto;
  width: auto;
  height: 50px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

/* Objects */

.nav-links .current {
  background: $main-text-grey;
  color: $related-container-color;
  border: 1px solid $main-text-grey;
  border-right: 0px;
}

.nav-links span {
  padding: 15px;
  align-self: center;
  transition: ease-in .1s;
}

.nav-links a {
  padding: 15px;
  align-self: center;
  border: 1px solid $main-text-grey;
  transition: ease-in .1s;
}

.nav-links .dots {
  border: 1px solid $main-text-grey;
  border-right: 0px;
  color: $main-text-grey;
}

/* Calling Children */

.nav-links a:first-child {
  border-radius: 2px 0 0 2px;
  border-right: 0px
}

.nav-links a:last-child {
  border-radius: 0 2px 2px 0;
}

.nav-links a:not(:last-child, :first-child) {
  border-right: 0px;
}

.nav-links span:first-child {
  border-radius: 2px 0 0 2px;
}

.nav-links span:last-child {
  border-radius: 0 2px 2px 0;
}

/* Hovers */

.nav-links a:hover {
  border: 1px solid $main-text-grey;
  color: $related-container-color;
  background: $main-text-grey;
}

.nav-links a:hover:first-child  {
  border: 1px solid $main-text-grey;
  color: $related-container-color;
  background: $main-text-grey;
  border-right: 0px;
}

.nav-links span:hover {
  background: $main-text-grey;
  color: $related-container-color;
}
