
/* misc styles */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
<<<<<<< HEAD
	background: red;
=======
>>>>>>> 6133d915c1bd16ed9a35e8c6606921d8bbfe96ef
}

a {
	text-decoration: none;
}

/* Needed Styles for index.php and archive.php */

.main-container {
  padding: 10px;
}

.latest-posts {
  text-align: center;
  color: #4C555A;
  letter-spacing: 2px;
  font-weight: 400;
}

hr {
  width: 70px;
  border: 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #ffffff;
}

/* Simple Flex layout segregating items into forced rows.
 * @include can be later inputted to enable cleaner snapping of rows. */

.row {
	/*width: 100%;*/
	display: flex;
	flex-wrap: wrap;
}

.item {
	margin: 0 auto;
	padding: 20px;
}

.item img {
	width: 100%;
	height: auto;
	display: block;
}

.item-text {
	text-align: center;
	padding-bottom: 20px;
  padding-top: 30px;
	/* max-width: 450px;*/
}

.item-text h5 {
 margin-bottom: 15px;
}

.item-text h5 a {
  color: #A0A1A5;
  letter-spacing: 2px;
}

.item-text h2 {
  padding: 0 40px 0 40px;
  color: #047E8B;
}

.item-text p {
  margin: 40px 0 0 0;
  padding: 0 40px 0 40px;
  color: #A0A1A5;
}

/* single.php styles */

	/* heading-image */

.heading-image {
  width: 100%;
  height: 50vh;
  background-color: #002147; /* Defult background image */
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  line-height: 60px;
	background-size: cover;
}

	/* heading-image text */

.heading-image h4 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  color: #ffffff;
	font-weight: 400;
	letter-spacing: 2px;
  margin-bottom: 0px;
}

.heading-image h4 a {
  color: #ffffff;
}

.heading-image h1 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  max-width: 660px;
  font-size: 2.9em;
	letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 0px;
  margin: 10px 0 10px 0;
}

.heading-image h5 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  color: #ffffff;
  font-style: italic;
  font-weight: 300;
  font-size: 0.9em;
  margin-bottom: 0px;
  opacity: 0.8;
  letter-spacing: 1px;
}

	/* Author image and text */

.author {
  position: relative;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 110px;
}

.author img {
  width: 70px;
  height: 70px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -85px;
	border-radius: 50%;
}

.author h4 {
	color: #4C555A;
	font-weight: 300;
	font-size: 1em;
	margin: 5px;
	letter-spacing: 1px
}

	/* Main text and image content */

.single-container {
	max-width: 600px;
	margin: 0 auto;
}

.single-container p {
  color: #4C555A;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 0px;
  line-height: 25px;
  margin-bottom: 30px;
<<<<<<< HEAD

=======
  
>>>>>>> 6133d915c1bd16ed9a35e8c6606921d8bbfe96ef
}

.single-container figcaption {
  color: #292E30;
  margin-top: 10px;
  letter-spacing: 0.9px;
  word-spacing: 2px;
}

.wp-caption {
 max-width:100%;
 text-align:center
}


/*.single-container figure {
	width: 100vw;
	height: auto;
 	position: relative;
 	left: 50%;
 	right: 50%;
 	margin-left: -50vw;
 	margin-right: -50vw;
	margin-top: 70px;
	margin-bottom: 70px;
}*/




.single-container .alignnone,
.single-container .aligncenter {
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	max-width: 100vw;
}

	/* block quote */

blockquote {
  position: relative;
  text-align: center;
  font-style: italic;
  font-family: Georgia;
  margin: 80px 0 80px 0;
}

blockquote::before {
  position: absolute;
  font-size: 130px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "\201C";
  top: -65px;
  color: #CECED1;
}

.single-container blockquote p {
  font-size: 25px;
  line-height: 40px;
  padding: 0 50px 0 50px;
  color: #002147;
}

	/* Related posts */

.related-container {
	padding: 10px;
	background-color: #F9F9F9;
	margin-top: 300px;
}

.related-posts {
  text-align: center;
  color: #4C555A;
  letter-spacing: 2px;
  font-weight: 400;
	margin-top: 50px;
}

/* Media Queries */

		/* Extra Small Devices */
@media screen and (max-width: 739px) {
	.row {
		width: 100%;
	}
	.item {
		width: 100%;
	}
}

		/* Small Devices */
@media screen and (min-width: 740px) {
  .item {
  	width: 50%;
  }
}

		/* Medium Devices */
@media screen and (min-width: 980px) {
  .row {
    flex-direction: row;
  }
  .item {
  	width: 33.3333%;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 6133d915c1bd16ed9a35e8c6606921d8bbfe96ef
  .single-container .alignnone,
  .single-container .aligncenter{
	  margin-left: -75px;
	  margin-right: -75px;
	  max-width: 750px;
  }
<<<<<<< HEAD


=======
  
  
>>>>>>> 6133d915c1bd16ed9a35e8c6606921d8bbfe96ef
}

		/* Large Devices */
@media screen and (min-width: 1300px) {
  .row {
    flex-direction: row;
  }
}
