/* misc styles */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

/* Needed Styles for index.php and archive.php */

.main-container {
  padding: 10px;
	margin-top: 50px;
}

.latest-posts {
  text-align: center;
  color: $main-text-grey;
  letter-spacing: 2px;
  font-weight: 400;
}

hr {
  width: 70px;
  border: 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #ffffff;
}

/* Simple Flex layout segregating items into forced rows.
 * @include can be later inputted to enable cleaner snapping of rows. */

.row {
	/*width: 100%;*/
	display: flex;
	flex-wrap: wrap;
}

.item {
	margin: 0 auto;
	padding: $mobile-side-pad;
}

.item img {
	width: 100%;
	height: auto;
	display: block;
}

.item-text {
	text-align: center;
	padding-bottom: 20px;
  padding-top: 30px;
	/* max-width: 450px;*/
}

.item-text h5 {
	margin-bottom: 10px;

}

.item-text h5 a {
  color: $category-excerpt-grey;
 letter-spacing: 0.1em;
}

.item-text h2 {
  padding: 0 40px 0 40px;
  color: $secondry-color;
}

.item-text p {
  margin: 40px 0 0 0;
  padding: 0 40px 0 40px;
  color: $category-excerpt-grey;
}

/* single.php styles */

	/* heading-image */

.heading-image {
  width: 100%;
  height: 75vh;
@include uni-gradient;
	background-size: cover;
	background-position: center center;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
	/*line-height: 60px;*/
}

.heading-image_opacity {
	background-color: $uni-blue-heading;
	width: 100%;
  height: 75vh;
	text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  /*line-height: 60px;*/
}

	/* heading-image text */

/*.heading-image h4 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  color: #ffffff;
	font-weight: 400;
	letter-spacing: 2px;
  margin-bottom: 0px;
}*/

/*.heading-image h4 a {
  color: #ffffff;
	font-style: italic;
	text-transform: uppercase;
}*/

.heading-image h1 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
	padding: 0 25%;
	@include mq(tablet) {
		padding: 0 5%;
	}
  font-size: 2.9em;
	letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 0px;
  margin: 5px 0 5px 0;
	word-wrap: break-word;
	width: 100%;
}

.heading-image h4,
.heading-image h5 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  color: #ffffff;
 	font-size: 20px;
  margin-bottom: 10px;
	font-weight: normal;


	a{
	color: white;
	}

}

	/* Author image and text */

.author {
  position: relative;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 110px;
}

.author img {
  width: 70px;
  height: 70px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -85px;
	border-radius: 50%;
}
.post-title {
	margin-bottom: 5px;
}


.date-published {
	color: $category-excerpt-grey;
	@include font-size(16px);
	 margin-bottom: 15px;
	@include font-weight(normal);
}

.post-author {
	color: $main-text-grey;
	@include font-weight(normal);
	@include font-size(17px);
	margin-bottom: 5px;
}

	/* Main text and image content */

.single-container {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 150px;
}

.single-container + .comments-container {
	margin-top: 0;
}


.single-container article li,
.single-container p {
  @include font-size(17px);
  @include font-weight(normal);
  color: $main-text-grey;
  /*letter-spacing: 1px;*/
  line-height: 25px;

}

.single-container p:not(:last-child) {
	margin-bottom: 30px;
}

.single-container article li {
 	list-style: disc;
 }

.single-container article li a,
.single-container p a {
	color: $main-text-grey;
	display: inline-block;
	line-height: 12px;
	transition: .1s;
	border-bottom: 2px solid $secondry-color;
	opacity: 1;

	padding-bottom: 5px;
	@include hocus() {
		border-bottom: 2px solid $main-text-grey;
		}

}

.single-container p a:hover,
.single-container p a:focus {
	border-bottom: 2px solid $secondry-color;
	opacity: .8;
}

.single-container figcaption {
  color: $caption-color;
  margin-top: 10px;
  letter-spacing: 0.9px;
  word-spacing: 2px;
}

//Centering of the image
.single-container article img {
	margin: 0 auto;
}

.single-container article l.alignleft {
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;

	@include mq(tablet) {
		display: inline-block;
		margin-right: 30px;
		margin-bottom: 6px;
		float: left;

	}


}


.single-container .alignright {
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;

	@include mq(tablet) {
		display: inline-block;
		margin-left: 30px;
		margin-bottom: 6px;
		float: right;

	}
}



.wp-caption {
 max-width:100%;
 text-align:center
}




.single-container .alignnone,
.single-container .aligncenter {
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	max-width: 100vw;
	margin-top: 60px;
	margin-bottom: 60px;
}


.single-container .alignnone,
.single-container .aligncenter{

	  @include mq(desktop) {
		  margin-left: -75px;
		  margin-right: -75px;
		  max-width: 750px;
	  }

}

.single-container p .alignnone,
.single-container p .aligncenter {
	margin-left: auto;
	margin-right: auto;
}




	/* block quote */

blockquote {
  position: relative;
  text-align: center;
  font-style: italic;
  font-family: Georgia;
  margin: 80px 0 80px 0;
}

blockquote::before {
  position: absolute;
  font-size: 130px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "\201C";
  top: -65px;
  color: $blockquote-before;
}

.single-container blockquote p {
  font-size: 25px;
  line-height: 40px;
  padding: 0 50px 0 50px;
  color: $uni-blue;
}

.entry-content .alignleft,
.entry-content .alignright {
	margin: 20px;
}

	/* Related posts */

.related-container {
	padding: 10px;
	background-color: $related-container-color;
	margin-top: 300px;
}

.related-posts {
  text-align: center;
  color: $main-text-grey;
  letter-spacing: 2px;
  font-weight: 400;
	padding-top: 45px;
}

	/* Comments */

.comments-container {
	width: 100%;
	min-height: 500px;
	margin-top: 150px;
	padding-top: 100px;
	border-top: 1px solid $main-text-grey;
	background: rgba(245,245,245,1);
	background: -moz-linear-gradient(top, rgba(245,245,245,1) 72%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(72%, rgba(245,245,245,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(245,245,245,1) 72%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(245,245,245,1) 72%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(245,245,245,1) 72%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(245,245,245,1) 72%, rgba(255,255,255,1) 100%);
}

.comment {
	word-wrap: break-word;
}

.comment.depth-1{
	@include vendor(border-radius, 3px );
	border: 1px solid $comments-hr;
	padding-top: $comments-spacing;
	padding-left: $comments-spacing;
	padding-right: $comments-spacing;
	margin-bottom: $comments-spacing * 2;
}

.comment p {
	margin: 0;
	@include font-size(14px);
}

.comment p:not(:last-of-type) {
	margin-bottom: 15px;
}

.comment.depth-1:not(:last-child) {
  border-bottom: 1px solid $comments-hr;
}

.comment-list {
	padding: 0;
}

.comment-author {
	margin-bottom: $comments-spacing;
	border-bottom: none;
	@include flexbox;
	letter-spacing: 1px;

	ul {
		margin: 0;
	}
}

.comment-author img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: $comments-spacing;
}

.comment-author ul {
	@include flexbox;
	@include justify-content(center);
	@include flex-direction(column);
}

.comment-author li {
	padding: 3px 0;
}

.comment-author cite,
.comment-author b, a {
	color: $main-text-grey;
}

.comment-author cite {
	font-style: normal;
	@include font-weight(bold);
}

.comment-meta {
	font-size: 14px;
}

.comment__content{
padding-bottom: $comments-spacing;
}

.reply {
	display: inline;
}

.comments-bullet {
	padding: 0 10px;
	display: inline;
}


.depth-1 > .children{
    padding-left: 50px;
}

.depth-2 > .children {
	padding-left: 25px;
}

	/* Form */

.comment-respond {
	padding-top: 15px;
	color: $main-text-grey;
}

.comment-respond h4 {
	font-weight: normal;
}

.site-comment__title {
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 1px;

	a:last-child {
		font-size: 15px;
		border-bottom: 4px solid $secondry-color;
		font-weight: bold;
	}

}

.comment-respond small {
	margin-top: 30px;
	margin: 0 auto;
}

.site-comment__author-detail {
	@include flexbox;
	margin: 30px 0;
	justify-content: center;
}

.site-comment__author,
.site-comment__email {
	display: inline;
	margin: 0 20px;
}

.site-comment__author input,
.site-comment__email input {
	display: block;
	border: 1px solid $main-text-grey;
	margin: 10px 0;
	background: $comments-input-background;
	width: 100%;
	padding: 10px;
}

.site-comment__actual label {
	margin: auto;
}

.site-comment__actual textarea {
	border: 1px solid $main-text-grey;
	margin-top: 10px;
	background: $comments-input-background;
	width: 100%;
	padding: 10px;
	display: block;
	margin-top: 10px;
}

.site-comment__submit-button input {
	border: 1px solid $main-text-grey;
	border-radius: 2px;
	margin: 30px auto;
	display: block;
	padding: 10px 20px;
	letter-spacing: 1px;
}

.site-comment__submit-button input:hover {

	color: $related-container-color;
	background: $main-text-grey;
}

/* page.php */

	// table styles

.single-container table {
	color: $main-text-grey;
	letter-spacing: 1px;
	line-height: 1.3em;
}

	// Definition Lists

.single-container dl {
	color: $main-text-grey;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.entry-header {
	margin-top: 150px;
	margin-bottom: 30px;
}

	// list styles

		//padding of list items

.single-container article ul {
	padding-left: 40px;
}

.single-container article ul:first-of-type ul {
	padding-left: 40px;
}

.single-container article ol {
	padding-left: 40px;
}

.single-container article ol:first-of-type ol {
	padding-left: 40px;
}

.single-container article ul:first-child,
.single-container .comments-area_tabs ul:first-child {
	padding: 10px;
}

.single-container article ol:first-child {
	padding: 10px;
}

		// dots styling

.single-container article ul li,
.comment__content ul li {
	list-style: disc;
}

.single-container article ul li ul li,
.comment__content ul li ul li {
	list-style: circle;
}

.single-container article ul li ul li ul li,
.comment__content ul li ul li ul li {
	list-style: square;
}

.single-container article ol li,
.comment__content ol li {
	list-style: decimal;
}

		// font styling

.single-container ul,
.single-container ol {
	color: $main-text-grey;
	letter-spacing: 1px;
	line-height: 1.3em;
}

/* 404 */

.404-container {
	display: flex;
}

.error-404 {
	height: 35vh;
	padding: 100px 0;
	text-align: center;
}

/* Media Queries */

	/* index.php */

.main-container {

	@include mq($until: tablet) {
		padding: 0;
	}

}

.page-title__inner {

	@include mq($until: tablet) {
		display: block;
		float: left;
		margin-top: 25px;
		margin-left: 25px;
	}

}

hr {

	@include mq($until: tablet) {
		display: block;
		float: left;
		margin-bottom: 35px;
		margin-left: 25px;
	}

}

.item-text {

	@include mq($until: tablet) {
		text-align: left;
		padding: 30px 50px 40px 25px;
	}

}

.item-text h2,
.item-text p {

	@include mq($until: tablet) {
		padding: 0;
		margin: 15;
	}

}

.item-text p {

	@include mq($until: tablet) {
		padding: 0;
		margin: 15px 0 0 0;
	}

}

.row {

	width: 100%;

	@include mq(desktop) {
		@include flex-direction(row);
	}

	@include mq(wide) {

	}

}


.item {

	width: 100%;

	@include mq($until: tablet) {
		padding: 0;
	}

	@include mq(tablet) {
		width: 50%;
	}

	@include mq(desktop) {
		width: 33.3333%;
	}

}

	/* single.php */

.heading-image {

	@include mq(mobile) {
		height: 50vh;	/* Issue! Image size not in ratio with set hight and no room (help jez!) */
	}

	@include mq(desktop) {
		height: 75vh;
	}

}

/*.heading-image h4 {

	@include mq($until: tablet) {
		font-size: 0.8em;
	}

}*/

.heading-image h1 {

	@include mq(mobile) {
		font-size: 1.5em;
		line-height: 25px;
		margin: 0;
	}

	@include mq(tablet) {
		font-size: 2.3em;
		line-height: 50px;
		margin: 0 0 10px;
	}

	@include mq(desktop) {
		font-size: 2.9em;
	}

}

.author {

	@include mq(mobile) {

	}

}

.single-container p {

	@include mq($until: tablet) {
		padding: 0 25px;
	}

}

.related-container {

	@include mq(mobile) {
		margin-top: 100px;
		padding: 0;
	}

}

.related-posts {

	@include mq($until: tablet) {
		text-align: left;
		margin-top: 35px;
		margin-left: 25px;
	}

}

	/* comments */

.comment-author img {

	@include mq($until: tablet) {
		display: none;
	}

}

.comment p {

	@include mq($until: tablet) {
		padding: 0 0px;
	}

}

 /* comments form */

.site-comment__title {

	 @include mq($until: tablet) {
		 text-align: center;
	 }

 }

 .site-comment__actual {

	 @include mq($until: tablet) {
		 padding: 0 20px;
	 }

	 @include mq(tablet) {
		 padding: 0 100px;
	 }

 }

.site-comment__author-detail {

	@include mq($until: tablet) {
		flex-direction: column;
	}

 }

.comment.depth-1 {

	@include mq($until: tablet) {
		border-top: 1px solid $comments-hr;
		border-bottom: 3px solid $comments-hr;
		border-left: none;
		border-right: none;
		@include vendor(border-radius, 0px );
		width: 90%;
		margin: 0 auto;
	}

}


.blog-article > * {
	@include mq($until: tablet) {
		padding: 0 25px
	}
}
