/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header{
	
	.site-module {
		padding: 0;
	}
	
}


@include mq($until: tablet) {
	
	.site-header .site-module {
		@include flexbox;
		@include flex-direction(column);
		
	}


}



.site-header__logo {
	padding: $mobile-side-pad;
	order: 1;
	@include align-self(flex-start);
	width: 75%;
	
	@include mq(tablet) {
		width: auto;
		order: inherit;
	}
	
}


.site-header__branding{
	background-color: $nav-underline;
	padding: $mobile-side-pad;
	width: 100%;
	order: 3;
	
	
	
	@include mq(tablet) {
		width: auto;
		order: inherit;
	}
	
}

.site-header__branding h1 {
	@include font-size(25px);
	margin: 0;
}

.site-header__search {
	
	display: none;
	
	@include mq(desktop) {
		padding-right: $desktop-side-pad;
		display: block;
	}
	
	
	input {
		border: none;
		background: $searchbg-grey;
		align-self: center;
		padding: 10px;
		z-index: 2;
	}

	button {
		background: $searchbg-grey;
		width: 38px;
		height: 38px;
		margin-left: -5px;
	}

	// Placeholder text colour

	::-webkit-input-placeholder {
			color:    #fff;
	}
	:-moz-placeholder {
		 color:    #fff;
		 opacity:  1;
	}
	::-moz-placeholder {
		 color:    #fff;
		 opacity:  1;
	}
	:-ms-input-placeholder {
		 color:    #fff;
	}
	::-ms-input-placeholder {
		 color:    #fff;
	}

	::placeholder {
		 color:    #fff;
	}

}


@include mq($until: tablet) {

		.nav-button {
			order: 2;
			margin-left: auto;
			margin-top: -$nav-button-size;
		}

}