/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/

.site-module-inner {
	@include module-inner-wrap;
}


.site-module {
	padding: $mobile-side-pad;

}



.sitebody-content {
	position: relative;
	word-wrap: break-word;
}



.page-title__inner {
	@include font-size(35px);
	@include font-weight(black);
	text-align: center;
	color: $headerbg-grey;
}