/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/




.sitebody-content {
	position: relative;
	word-wrap: break-word;
}


.related-posts,
.page-title__inner {
	@include font-size(35px);
	@include font-weight(black);
	color: $headerbg-grey;
	
	@include mq(tablet) {
	
		text-align: center;
	}
	
	
}


@include mq($until: tablet) {

	.main-container hr {
		margin-left: 38.5%;
		margin-right: 38.5%;
	}

}
